<!-- Header Section -->
<mat-toolbar>
  <a href="/">
    <button mat-icon-button class="icon" aria-label="Home">
      <mat-icon>home</mat-icon>
    </button>
  </a>
  <span>Lineare Funktion</span>
  <span class="spacer"></span>
  <a href="https://gitlab.com/PatrickDomnick/lineare-funktion" target="_blank">
    <button mat-icon-button class="icon" aria-label="Project">
      <mat-icon>share</mat-icon>
    </button>
  </a>
</mat-toolbar>

<!-- Form Input Section -->
<mat-card>
  <form class="form" [formGroup]="formGroup" (ngSubmit)="submit()">
    <table class="full-width" cellspacing="0">
      <tr>
        <td colspan="2">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Funktion</mat-label>
            <input matInput formControlName="func" placeholder="f(x)=2x+5" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Anstieg: m</mat-label>
            <input matInput formControlName="m" placeholder="2" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Höhe: n</mat-label>
            <input matInput formControlName="n" placeholder="5" />
          </mat-form-field>
        </td>
      </tr>
    </table>
    <button mat-raised-button color="primary">Abschicken</button>
  </form>
</mat-card>

<!-- Output Fields -->
<mat-card>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <br />
  <mat-button-toggle-group *ngIf="!loading" #group="matButtonToggleGroup">
    <mat-button-toggle
      value="false"
      [disabled]="result !== false"
      aria-label="Keine Lineare Funktion"
    >
      <mat-icon>cancel</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle
      value="true"
      [disabled]="result !== true"
      aria-label="Lineare Funktion"
    >
      <mat-icon>done</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</mat-card>
